name: 18-build-oci-multi
on:
  push:
  workflow_dispatch:
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: gw-message-demo

permissions: 
  packages: write
jobs:    
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Restore dependencies
        run: dotnet restore messages/src/Messages.csproj
      - name: Build
        run: dotnet build --no-restore messages/src/Messages.csproj
      - name: Publish
        run: |
          dotnet publish -c release -r linux-x64 --no-self-contained -o messages/amd64 messages/src/Messages.csproj
          dotnet publish -c release -r linux-arm64 --no-self-contained -o messages/arm64 messages/src/Messages.csproj
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.actor }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha
            type=raw,value=v1.0.0
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
           context: ./messages
           push: true
           tags: ${{ steps.meta.outputs.tags }}
           labels: ${{ steps.meta.outputs.labels }}
           platforms: linux/amd64,linux/arm64
           provenance: false